:root {
  --first: #0f1016;
  --second: #fff;
  --third: #0f4bb9;
  --header: #251a37;
  --dark-grey: #666666;
  --medium-grey: #e6e0e0;
  --light-grey: #fafafa;
  --dark-footer: #1d152c;
  --medium-footer: #291f3b;
  --light-footer: #2a2238;
  --title-family: "Manrope", sans-serif;
  --outline-text: "Poppins", sans-serif;
  --common-family: "Jost", sans-serif;
  --transition: all 0.3s linear;
}

* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 12pt;
  font-family: "Segoe UI", Tahoma, Verdana, sans-serif;
}

body {
  line-height: 26px;
  font-family: "Jost", sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: var(--first);
  overflow-x: hidden;
}

/* Main Navigation Bar */
.main-navbar {
  width: 100%;
  height: 85px;
  position: fixed;
  z-index: 9999;
  top: 0;
  background-color: var(--header);
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 20px;
}

.logo-image {
  width: 80px;
}

.links-container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}

.dropdown {
  position: relative;
  display: inline-block;
  list-style: none;
}

.dropdown-content {
  position: absolute;
  left: 0;
  background: var(--second);
  min-width: 160px;
  opacity: 0;
  transition: var(--transition);
  pointer-events: none;
}

.dropdown:hover .dropdown-content {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
}

.dropdown-content a {
  color: var(--first);
  padding: 0.5rem 1rem;
  text-decoration: none;
  display: block;
  transition: var(--transition);
}

.dropdown-content a:hover {
  color: var(--third);
  background: var(--second);
  transition: var(--transition);
  font-weight: 600;
}

.nav-border {
  display: none;
}

.nav-link {
  width: 110px;
  font-size: 20px;
  font-weight: 500;
  list-style: none;
  color: var(--second);
  transition: var(--transition);
}

.nav-link i {
  display: none;
}

.nav-link:hover {
  font-size: 20px;
  font-weight: 500;
  color: var(--third);
  transition: var(--transition);
  cursor: pointer;
}

nav a {
  height: 100%;
  padding: 0 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: var(--first);
}

.languages-desktop {
  display: flex;
  list-style: none;
}

.current-language {
  color: var(--second);
  font-weight: bold;
}

.language-selector {
  color: var(--third);
  text-decoration: none;
  font-weight: bold;
}

.languages-mobile {
  display: none;
}

.social-links-desktop {
  display: flex;
  list-style: none;
}

.social-logo-desktop {
  width: 30px;
  color: var(--second);
}

.social-links-mobile {
  display: none;
  list-style: none;
}

.contacts {
  font-size: 17px;
}

.contacts p {
  color: var(--second);
}

.contacts span {
  color: var(--second);
  cursor: pointer;
}

.hamburger-menu-icon-white {
  fill: var(--second);
}

#sidebar-active {
  display: none;
}

.open-sidebar-button,
.close-sidebar-button {
  display: none;
}

@media (max-width: 600px) {
  .main-navbar {
    padding: none;
  }

  .logo-link {
    margin: 0;
    padding: 0;
  }

  .logo-image {
    width: 80px;
  }

  .links-container {
    width: 300px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    position: fixed;
    top: 0;
    left: -100%;
    z-index: 10;
    background-color: var(--second);
    transition: 0.75s ease-out;
  }

  .languages-desktop {
    display: none;
  }

  .contacts {
    display: none;
  }

  .social-links-desktop {
    display: none;
  }

  .social-links-mobile {
    display: none;
  }

  .social-logo-mobile {
    padding: 10px;
  }

  nav a {
    width: 100%;
    justify-content: flex-start;
    padding: 20px;
    box-sizing: border-box;
  }

  .nav-link {
    width: 300px;
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    font-weight: 500;
    list-style: none;
    box-sizing: border-box;
    border: 1px solid var(--medium-grey);
    border-top: none;
    border-left: none;
    border-right: none;
    color: var(--first);
    transition: var(--transition);
  }

  .nav-link i {
    display: block;
  }

  .languages-mobile {
    display: flex;
    padding: 0;
    list-style: none;
  }

  .current-language {
    color: var(--second);
    font-weight: bold;
  }

  .language-selector {
    color: var(--third);
    text-decoration: none;
    font-weight: bold;
  }

  .open-sidebar-button {
    display: flex;
    padding-right: 30px;
  }

  #sidebar-active:checked ~ .links-container {
    left: 0;
  }
}

/* Home */
.home {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-image: url("images/person-with-glasses.png"),
    url("images/home-2-background-blue.jpg");
  background-size: 700px 600px, 100% 100vh;
  background-position: bottom right, top center;
  background-repeat: no-repeat, no-repeat;
}

.home-heading {
  padding-top: 130px;
  padding-left: 150px;
  color: var(--second);
}

.home-heading span {
  font-size: 20px;
}

.home-heading h1 {
  width: 850px;
  font-size: 70px;
  line-height: 1.2;
}

.home-heading p {
  width: 800px;
  font-size: 20px;
}

.home-heading button {
  width: 200px;
  height: 80px;
  background-color: var(--third);
  border: none;
  border-radius: 40px;
  color: var(--second);
  font-size: 20px;
  font-family: "Jost", sans-serif;
  transition: var(--transition);
}

.home-heading button:hover {
  background-color: var(--second);
  color: var(--third);
  cursor: pointer;
}

@media (max-width: 600px) {
  .home {
    width: 100%;
    height: 115vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    padding-top: 230px;
    background-image: url("images/person-with-glasses.png"),
      url("images/home-2-background-blue.jpg");
    background-size: 350px, 500%;
    background-position: bottom center, top right;
    background-repeat: no-repeat, no-repeat;
  }

  .home-heading {
    padding: 0;
    color: var(--second);
  }

  .home-heading {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    color: var(--second);
  }

  .home-heading span {
    font-size: 15px;
  }

  .home-heading h1 {
    width: 250px;
    font-size: 25px;
    line-height: 1.2;
  }

  .home-heading p {
    width: 300px;
    font-size: 15px;
  }

  .home-heading button {
    width: 120px;
    height: 60px;
    background-color: var(--third);
    border: none;
    border-radius: 40px;
    color: var(--second);
    font-size: 12px;
    font-family: "Jost", sans-serif;
    transition: var(--transition);
  }

  .home-heading button:hover {
    background-color: var(--second);
    color: var(--third);
    cursor: pointer;
  }
}

/* Experience Section */
.experience-section {
  display: flex;
  justify-content: center;
  align-items: center;
}
.experience-info {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
}

.experience-image-circle {
  position: relative;
  display: inline-block;
  display: flex;
  padding-left: 10px;
}

.people-meeting {
  display: block;
  width: 500px;
  height: auto;
}

.dotted-pic {
  width: 80px;
  height: 100px;
  padding-top: 20px;
}

.circle {
  width: 65%;
  height: 80%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  top: 80%;
  left: 75%;
  transform: translate(-50%, -50%);
  background-color: var(--third);
  color: white;
  padding: 10px 20px;
  border-radius: 600px;
  text-align: center;
}

.circle-it {
  color: var(--third);
  -webkit-text-stroke: 0.2px var(--medium-grey);
  font-size: 120px;
  padding-bottom: 8px;
}

.circle span {
  font-size: 20px;
  font-weight: 700;
}

.circle-solutions {
  font-size: 50px;
  color: var(--third);
  -webkit-text-stroke: 0.2px var(--second);
  padding-top: 20px;
}

.experience-text {
  width: 650px;
}

.experience-text h1 {
  width: 640px;
  font-size: 70px;
  line-height: 1.2;
  display: flex;
  flex-direction: column;
}

.experience-text span {
  font-size: 24px;
  color: var(--third);
}

.contact-info {
  display: flex;
  justify-content: center;
  gap: 150px;
}

.contact-phone {
  width: 250px;
  gap: 20px;
  display: flex;
}

.contact-phone img {
  width: 50px;
  height: 50px;
}

.contact-phone a {
  text-decoration: none;
  color: var(--first);
}

.contact-mail {
  width: 250px;
  gap: 20px;
  display: flex;
}

.contact-mail img {
  width: 50px;
  height: 50px;
}

.contact-mail a {
  text-decoration: none;
  color: var(--first);
}

@media (max-width: 600px) {
  /* .experience-section {
    display: flex;
    justify-content: center;
    align-items: center;
  } */

  .experience-info {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 100px;
  }

  .experience-image-circle {
    width: 350px;
    gap: 0;
    padding: none;
  }

  .people-meeting {
    width: 340px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0;
    padding: none;
  }

  .circle {
    width: 65%;
    height: 80%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    top: 100%;
    left: 60%;
    transform: translate(-50%, -50%);
    background-color: var(--third);
    color: white;
    padding: 10px 20px;
    border-radius: 600px;
    text-align: center;
  }

  .circle-it {
    color: var(--third);
    -webkit-text-stroke: 0.2px var(--medium-grey);
    font-size: 120px;
  }

  .circle span {
    width: 150px;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
  }

  .circle-solutions {
    font-size: 40px;
    color: var(--third);
    -webkit-text-stroke: 0.2px var(--second);
    padding: 0;
  }

  .experience-text {
    width: 350px;
    padding-top: 50px;
  }

  .experience-text h1 {
    width: 340px;
    font-size: 30px;
    line-height: 1.2;
    display: flex;
    flex-direction: column;
  }

  .experience-text span {
    font-size: 24px;
    color: var(--third);
  }

  .contact-info {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
  }

  .contact-phone {
    width: 250px;
    gap: 20px;
    display: flex;
  }

  .contact-phone img {
    width: 50px;
    height: 50px;
  }

  .contact-phone a {
    text-decoration: none;
    color: var(--first);
  }

  .contact-mail {
    width: 250px;
    gap: 20px;
    display: flex;
  }

  .contact-mail img {
    width: 50px;
    height: 50px;
  }

  .contact-mail a {
    text-decoration: none;
    color: var(--first);
  }
}

/* Statistics */
.statistics {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding-top: 200px;
  padding-bottom: 100px;
}

.statistics h1 {
  font-size: 70px;
  color: var(--first);
}

.statistics h3 {
  text-align: center;
  color: var(--first);
}

@media (max-width: 600px) {
  .statistics {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    padding-top: 100px;
  }

  .statistics h1 {
    font-size: 35px;
    text-align: center;
    color: var(--first);
  }

  .statistics h3 {
    text-align: center;
    color: var(--first);
  }
}

/* Work Services */
.ws-section {
  background-color: var(--light-grey);
}

.ws-header {
  padding-top: 100px;
  line-height: 4;
}

.ws-header p {
  text-align: center;
  color: var(--third);
}

.ws-header h1 {
  font-size: 30px;
  line-height: 1.2;
  text-align: center;
  color: var(--first);
}

.work-services {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 20px;
  padding-top: 50px;
}

.ws-card {
  width: 270px;
  height: 300px;
  background-color: var(--light-grey);
}

.ws-card img {
  width: 50px;
  padding-bottom: 20px;
}

.ws-card h2 {
  padding-bottom: 10px;
}

.ws-card-head {
  color: var(--first);
}

.ws-card a {
  text-decoration: none;
}

.ws-card-sub {
  color: var(--third);
  font-weight: 500;
}

.ws-card p {
  padding-top: 10px;
  padding-bottom: 20px;
}

.white-button {
  width: 50px;
  height: 50px;
  background-color: var(--second);
  border: none;
  border-radius: 25px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.6);
  color: var(--first);
  transition: var(--transition);
}

.white-button:hover {
  width: 50px;
  height: 50px;
  background-color: var(--third);
  border: none;
  border-radius: 25px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.6);
  color: var(--second);
  transition: var(--transition);
  cursor: pointer;
}
