:root {
  --first: #0f1016;
  --second: #fff;
  --third: #143264;
  --fourth: #fd5516;
  --fifth: #ff0000;
  --dark-grey: #666666;
  --medium-grey: #e6e0e0;
  --light-grey: #fafafa;
  --dark-footer: #1d152c;
  --medium-footer: #291f3b;
  --light-footer: #2a2238;
  --title-family: "Manrope", sans-serif;
  --outline-text: "Poppins", sans-serif;
  --common-family: "Jost", sans-serif;
  --transition: all 0.3s linear;
}

/* Offer Panel */
.offer-panel {
  height: auto; /* Automatically grows for content */
  position: fixed;
  top: 50%;
  right: -360px;
  transform: translateY(-50%);
  width: 360px;
  background-color: #fd9b2f;
  padding: 25px 20px;
  box-shadow: -4px 0 12px rgba(0, 0, 0, 0.15);
  z-index: 9999;
  transition: right 0.4s ease;
}

.offer-panel.open {
  right: 0;
}

/* Tab */
.offer-tab {
  height: 150px;
  position: absolute;
  left: -70px;
  top: 50%;
  transform: translateY(-50%) rotate(180deg);
  background: #ff0000;
  color: var(--second);
  padding: 12px 16px;
  writing-mode: vertical-rl;
  text-orientation: mixed;
  font-weight: 700;
  font-size: 16px;
  border-radius: 0 10px 10px 0;
  cursor: pointer;
  box-shadow: -4px 0 8px rgba(0, 0, 0, 0.2);
}
