:root {
  --first: #0f1016;
  --second: #fff;
  --third: #0f4bb9;
  --dark-grey: #666666;
  --medium-grey: #e6e0e0;
  --light-grey: #fafafa;
  --dark-footer: #1d152c;
  --medium-footer: #291f3b;
  --light-footer: #2a2238;
  --title-family: "Manrope", sans-serif;
  --outline-text: "Poppins", sans-serif;
  --common-family: "Jost", sans-serif;
  --transition: all 0.3s linear;
}

* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 12pt;
  font-family: "Segoe UI", Tahoma, Verdana, sans-serif;
}

body {
  line-height: 26px;
  font-family: "Jost", sans-serif;
  font-size: 14px;
  font-weight: 400;
  padding-top: 120px;
  color: var(--first);
  overflow-x: hidden;
}

/* Top Navigation Bar */
.top-navbar {
  width: 100%;
  height: 50px;
  position: fixed;
  z-index: 9999;
  top: 0;
  background-color: var(--third);
  display: flex;
  justify-content: center;
  align-items: center;
}

.contacts {
  width: 70px;
  margin-right: 65%;
}

.contacts p {
  display: flex;
  color: var(--second);
}

.contacts span {
  color: var(--second);
}

.contacts span:hover {
  color: var(--second);
  cursor: pointer;
}

.social-logos-header ul {
  display: flex;
  list-style: none;
}

.seperator {
  color: var(--second);
}

@media (max-width: 600px) {
  .top-navbar {
    display: flex;
    justify-content: flex-end;
  }

  .contacts,
  .misc {
    display: none;
  }

  .languages {
    display: flex;
    padding: 0;
    list-style: none;
  }

  .current-language {
    color: var(--first);
    font-weight: bold;
  }

  .language-selector {
    color: var(--second);
    text-decoration: none;
    font-weight: bold;
  }
}

/* Main Navigation Bar */
.main-navbar {
  width: 100%;
  height: 75px;
  position: fixed;
  z-index: 9999;
  top: 50px;
  background-color: var(--second);
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-link {
  margin-left: 15%;
  margin-right: 10%;
}

.logo-image {
  width: 80px;
}

.links-container {
  width: 85%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dropdown {
  position: relative;
  display: inline-block;
  list-style: none;
}

.dropdown-content {
  position: absolute;
  left: 0;
  background: var(--second);
  min-width: 160px;
  opacity: 0;
  transition: var(--transition);
  pointer-events: none;
}

.dropdown:hover .dropdown-content {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
}

.dropdown-content a {
  color: var(--first);
  padding: 0.5rem 1rem;
  text-decoration: none;
  display: block;
  transition: var(--transition);
}

.dropdown-content a:hover {
  color: var(--third);
  background: var(--second);
  transition: var(--transition);
  font-weight: 600;
}

.nav-border {
  display: none;
}

.nav-link {
  width: 120px;
  font-size: 15px;
  font-weight: 500;
  list-style: none;
  color: var(--first);
  transition: var(--transition);
}

.nav-link i {
  display: none;
}

.nav-link:hover {
  font-size: 15px;
  font-weight: 500;
  color: var(--third);
  transition: var(--transition);
  cursor: pointer;
}

nav a {
  height: 100%;
  padding: 0 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: var(--first);
}

.social-links-desktop {
  display: flex;
  margin-left: 13%;
  list-style: none;
}

.social-logo-desktop {
  width: 30px;
}

.social-links-mobile {
  display: none;
  list-style: none;
}

.hamburger-menu-icon-black {
  fill: var(--first);
}

#sidebar-active {
  display: none;
}

.open-sidebar-button,
.close-sidebar-button {
  display: none;
}

@media (max-width: 600px) {
  .logo-link {
    margin: 0;
    padding-left: 10px;
  }

  .logo-image {
    width: 80px;
  }

  .links-container {
    width: 300px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    position: fixed;
    top: 0;
    left: -100%;
    z-index: 10;
    background-color: var(--second);
    transition: 0.75s ease-out;
  }

  .social-links-desktop {
    display: none;
  }

  .social-links-mobile {
    display: flex;
    list-style: none;
  }

  .social-logo-mobile {
    padding: 10px;
  }

  nav a {
    width: 100%;
    justify-content: flex-start;
    padding: 20px;
    box-sizing: border-box;
  }

  .nav-link {
    width: 300px;
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    font-weight: 500;
    list-style: none;
    box-sizing: border-box;
    border: 1px solid var(--medium-grey);
    border-top: none;
    border-left: none;
    border-right: none;
    color: var(--first);
    transition: var(--transition);
  }

  .nav-link i {
    display: block;
  }

  .open-sidebar-button {
    display: flex;
    padding-right: 10px;
  }

  #sidebar-active:checked ~ .links-container {
    left: 0;
  }
}

/* Home */
.home {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  background-image: url(./images/Video-Placeholder.png);
}

.home-heading {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: var(--second);
}

.home-heading h1 {
  width: 800px;
  font-size: 50px;
  line-height: 1;
}

.home-heading p {
  width: 800px;
  font-size: 20px;
  line-height: 1.2;
}

.home button {
  width: 200px;
  height: 80px;
  background-color: var(--third);
  border: none;
  border-radius: 40px;
  color: var(--second);
  font-size: 20px;
  font-family: "Jost", sans-serif;
  transition: var(--transition);
}

.home button:hover {
  background-color: var(--second);
  color: var(--third);
  cursor: pointer;
}

@media (max-width: 600px) {
  .home {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url(images/homebackground.jpg);
  }

  .home-heading {
    text-align: center;
    color: var(--second);
  }

  .home-heading-1 {
    font-size: 20px;
  }

  .home-heading-2 {
    font-size: 30px;
    line-height: 1.2;
  }

  .home button {
    width: 120px;
    height: 60px;
    background-color: var(--third);
    border: none;
    border-radius: 40px;
    color: var(--second);
    font-size: 12px;
    font-family: "Jost", sans-serif;
    transition: var(--transition);
  }

  .home button:hover {
    background-color: var(--second);
    color: var(--third);
    cursor: pointer;
  }
}

/* Services */
.services {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.section-header {
  line-height: 4;
}

.section-header p {
  text-align: center;
  color: var(--third);
}

.section-header h1 {
  font-size: 30px;
  line-height: 1.2;
  text-align: center;
  color: var(--first);
}

.white-button {
  width: 50px;
  height: 50px;
  background-color: var(--second);
  border: none;
  border-radius: 25px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.6);
  color: var(--first);
  transition: var(--transition);
}

.white-button:hover {
  width: 50px;
  height: 50px;
  background-color: var(--third);
  border: none;
  border-radius: 25px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.6);
  color: var(--second);
  transition: var(--transition);
  cursor: pointer;
}

.blue-button {
  width: 50px;
  height: 50px;
  background-color: var(--third);
  border: none;
  border-radius: 25px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.6);
  color: var(--second);
  transition: var(--transition);
}

.blue-button:hover {
  width: 50px;
  height: 50px;
  background-color: var(--third);
  border: none;
  border-radius: 25px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.6);
  color: var(--second);
  cursor: pointer;
}

.services-card {
  text-align: center;
  width: 300px;
  padding: 20px;
}

.services-card:hover {
  text-align: center;
  color: var(--first);
  width: 300px;
  padding: 20px;
  background-color: var(--light-grey);
  transition: var(--transition);
}

@media (max-width: 600px) {
  .services {
    flex-direction: column;
  }

  .section-header h1 {
    font-size: 30px;
    line-height: 1.2;
    text-align: center;
    color: var(--first);
  }

  .white-button {
    width: 50px;
    height: 50px;
    background-color: var(--second);
    border: none;
    border-radius: 25px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.6);
    color: var(--first);
    transition: var(--transition);
  }
}

/* Information */
.info {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
}

.info-image-cropped {
  width: 80px;
  padding-right: 30px;
  border-radius: 10px;
}

.info-image-main {
  width: 400px;
  border-radius: 20px;
}

.info-heading {
  font-size: 70px;
  line-height: 1.2;
  color: var(--first);
}

.info-1 {
  font-size: 20px;
  color: var(--third);
}

.progrss-bar {
  overflow: visible;
  background: rgba(37, 26, 55, 0.1);
  border-radius: 5px;
  height: 30px;
  font-family: "Manrope", sans-serif (var(--title-family));
  font-size: 14px;
  font-weight: 600;
}

.completion {
  width: 75%;
  display: flex;
  line-height: 2.3;
  padding-left: 30px;
  border-radius: 5px;
  color: var(--second);
  background-color: var(--third);
}

.desc {
  display: flex;
  justify-content: space-between;
}

.roles {
  width: 90%;
  display: flex;
  justify-content: space-between;
}

.solution-role {
  width: 40%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.solution-image img {
  width: 80px;
}

.consultant-role {
  width: 45%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.consultant-image img {
  width: 80px;
}

@media (max-width: 600px) {
  .info {
    display: block;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .info img {
    width: 95%;
    border-radius: 20px;
  }

  .info-image-cropped {
    display: none;
  }

  .info-heading {
    font-size: 20px;
    line-height: 1.2;
    color: var(--first);
  }

  .progress-bar {
    width: 90%;
    padding-left: 30px;
    background: rgba(37, 26, 55, 0.1);
    border-radius: 5px;
    height: 30px;
    font-family: "Manrope", sans-serif (var(--title-family));
    font-size: 14px;
    font-weight: 600;
  }

  .completion {
    width: 75%;
    display: flex;
    justify-content: center;
    line-height: 2.3;
    padding-left: 30px;
    border-radius: 5px;
    color: var(--second);
    background-color: var(--third);
  }

  .desc {
    display: flex;
    flex-direction: column;
  }

  .roles {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .solution-role {
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .solution-image img {
    width: 80px;
  }

  .consultant-role {
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .consultant-image img {
    width: 80px;
  }
}

/* Statistics */
.statistics {
  display: flex;
  justify-content: space-evenly;
}

.statistics h1 {
  font-size: 70px;
  color: var(--first);
}

.statistics h3 {
  text-align: center;
  color: var(--first);
}

@media (max-width: 600px) {
  .statistics {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }

  .statistics h1 {
    font-size: 35px;
    text-align: center;
    color: var(--first);
  }

  .statistics h3 {
    text-align: center;
    color: var(--first);
  }
}

/* Why Choose Us - Work Services */
.section-header {
  line-height: 4;
}

.section-header p {
  text-align: center;
  color: var(--third);
}

.section-header h1 {
  font-size: 30px;
  line-height: 1.2;
  text-align: center;
  color: var(--first);
}

.ws {
  padding: 16px;
  background-image: url(images/ws-backgroundjpg.jpg);
}

.ws-cards {
  width: 75%;
  display: grid;
  margin: 0 auto;
  gap: 20px;
}

.ws-card {
  width: 300px;
  padding: 20px;
  text-align: center;
  background-color: var(--second);
  transition: var(--transition);
}

.ws-card a {
  color: var(--first);
  text-decoration: none;
  transition: var(--transition);
}

.ws-card:hover {
  width: 300px;
  padding: 20px;
  text-align: center;
  background-color: var(--third);
  color: var(--second);
  transition: var(--transition);
}

.ws-card a:hover {
  color: var(--second);
  text-decoration: none;
  transition: var(--transition);
}

@media (min-width: 600px) {
  .ws-cards {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 600px) {
  .ws-cards {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}

/* Video Section */
.video-content {
  width: 100%;
  height: 110vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(images/video-background.jpg);
}

.video-content h1 {
  text-align: center;
  font-size: 70px;
  color: var(--second);
  line-height: 1.2;
}

@media (max-width: 600px) {
  .video-content h1 {
    text-align: center;
    font-size: 30px;
    color: var(--second);
    line-height: 1.2;
  }
}

/* Pricing Table */
.section-header {
  line-height: 4;
}

.section-header p {
  text-align: center;
  color: var(--third);
}

.section-header h1 {
  font-size: 30px;
  line-height: 1.2;
  text-align: center;
  color: var(--first);
}

@media (max-width: 600px) {
  .section-header h1 {
    font-size: 20px;
    line-height: 1.2;
    text-align: center;
    color: var(--first);
  }
}

.pricing-table {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 600px) {
  .pricing-table {
    display: none;
  }
}

.pricing-box {
  width: 1200px;
  height: 533px;
  display: flex;
  border: 1px solid var(--medium-grey);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  box-sizing: border-box;
}

.blank-box-1 {
  width: 300px;
  height: 80px;
  border: 1px solid var(--medium-grey);
  border-top-left-radius: 10px;
  border-top: none;
  border-bottom: none;
  border-left: none;
  box-sizing: border-box;
}

.pricing-header {
  width: 300px;
  height: 80px;
  display: flex;
  align-items: center;
  padding-left: 50px;
  border: 1px solid var(--medium-grey);
  border-bottom: none;
  border-left: none;
  box-sizing: border-box;
  color: var(--third);
  background-color: var(--light-grey);
}

.pricing-features ul {
  width: 300px;
  list-style: none;
  padding-left: 50px;
  padding-top: 40px;
  padding-bottom: 40px;
  line-height: 2.5;
  border: 1px solid var(--medium-grey);
  border-left: none;
  box-sizing: border-box;
}

.blank-box-2 {
  width: 300px;
  height: 80px;
  border: 1px solid var(--medium-grey);
  border-top: none;
  border-bottom: none;
  border-left: none;
  box-sizing: border-box;
}

.standard-table-mobile {
  display: none;
}

.standard-heading {
  width: 225px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--third);
  border: 1px solid var(--medium-grey);
  border-top: none;
  border-bottom: none;
  border-left: none;
  box-sizing: border-box;
}

.standard-price {
  width: 225px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--medium-grey);
  border-bottom: none;
  border-left: none;
  box-sizing: border-box;
  color: var(--first);
  font-size: 20px;
  background-color: var(--light-grey);
}

.standard-features ul {
  width: 225px;
  list-style: none;
  padding-top: 40px;
  padding-bottom: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: var(--third);
  line-height: 2.5;
  border: 1px solid var(--medium-grey);
  border-left: none;
  box-sizing: border-box;
}

.standard-read-more {
  width: 225px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--medium-grey);
  border-top: none;
  border-bottom: none;
  border-left: none;
  box-sizing: border-box;
}

.standard-read-more button {
  width: 150px;
  height: 60px;
  background-color: var(--light-grey);
  border: none;
  border-radius: 40px;
  color: var(--first);
  font-size: 15px;
  font-family: "Jost", sans-serif;
  transition: var(--transition);
}

.standard-read-more button:hover {
  width: 150px;
  height: 60px;
  background-color: var(--third);
  transition: var(--transition);
  border: none;
  border-radius: 40px;
  color: var(--second);
  font-size: 15px;
  font-family: "Jost", sans-serif;
  cursor: pointer;
}

@media (max-width: 600px) {
  .standard-table-mobile {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .standard-box-mobile {
    width: 250px;
    height: 533px;
    display: flex;
    border: 1px solid var(--medium-grey);
    border-radius: 10px;
    box-sizing: border-box;
  }

  .standard-price-mobile {
    width: 250px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--medium-grey);
    border-bottom: none;
    border-left: none;
    box-sizing: border-box;
    color: var(--first);
    font-size: 20px;
    background-color: var(--light-grey);
  }

  .standard-heading-mobile {
    width: 250px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--third);
    border: 1px solid var(--medium-grey);
    border-top: none;
    border-bottom: none;
    border-left: none;
    border-right: none;
    box-sizing: border-box;
  }

  .standard-features-mobile ul {
    width: 250px;
    list-style: none;
    padding-left: 25px;
    padding-top: 40px;
    padding-bottom: 40px;
    line-height: 2.5;
    border: 1px solid var(--medium-grey);
    border-left: none;
    border-right: none;
    box-sizing: border-box;
    color: var(--third);
  }

  .standard-read-more-mobile {
    width: 250px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
  }

  .standard-read-more-mobile button {
    width: 150px;
    height: 60px;
    background-color: var(--light-grey);
    border: none;
    border-radius: 40px;
    color: var(--first);
    font-size: 15px;
    font-family: "Jost", sans-serif;
    transition: var(--transition);
  }

  .standard-read-more-mobile button:hover {
    width: 150px;
    height: 60px;
    background-color: var(--third);
    transition: var(--transition);
    border: none;
    border-radius: 40px;
    color: var(--second);
    font-size: 15px;
    font-family: "Jost", sans-serif;
    cursor: pointer;
  }
}

.ultimate-table-mobile {
  display: none;
}

/* Most Popular in Desktop / Tablet */
/* .ultimate-most-popular {
  width: 100px;
  text-align: center;
  background-color: lightseagreen;
  color: var(--white);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom: 1px solid var(--pricing-table-border);
} */

.ultimate-heading {
  width: 225px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--second);
  background-color: var(--third);
  border: 1px solid var(--dark-grey);
  border-top: none;
  border-bottom: none;
  border-left: none;
  box-sizing: border-box;
}

.ultimate-price {
  width: 225px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--dark-grey);
  border-bottom: none;
  border-left: none;
  box-sizing: border-box;
  color: var(--second);
  background-color: var(--third);
  font-size: 20px;
}

.ultimate-features ul {
  width: 225px;
  list-style: none;
  padding-top: 40px;
  padding-bottom: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: var(--second);
  background-color: var(--third);
  line-height: 2.5;
  border: 1px solid var(--dark-grey);
  border-left: none;
  box-sizing: border-box;
}

.ultimate-read-more {
  width: 225px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--dark-grey);
  color: var(--second);
  background-color: var(--third);
  border-top: none;
  border-bottom: none;
  border-left: none;
  box-sizing: border-box;
}

.ultimate-read-more button {
  width: 150px;
  height: 60px;
  background-color: var(--light-grey);
  border: none;
  border-radius: 40px;
  color: var(--first);
  font-size: 15px;
  font-family: "Jost", sans-serif;
  transition: var(--transition);
}

.ultimate-read-more button:hover {
  width: 150px;
  height: 60px;
  background-color: var(--third);
  transition: var(--transition);
  border: none;
  box-shadow: 2px 2px 2px var(--first);
  border-radius: 40px;
  color: var(--second);
  font-size: 15px;
  font-family: "Jost", sans-serif;
  cursor: pointer;
}

@media (max-width: 600px) {
  .ultimate-table-mobile {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
  }

  .ultimate-box-mobile {
    width: 250px;
    height: 533px;
    display: flex;
    border: 1px solid var(--medium-grey);
    border-top: none;
    border-left: none;
    border-radius: 10px;
    box-sizing: border-box;
  }

  .ultimate-most-popular {
    width: 100px;
    text-align: center;
    float: right;
    background-color: lightseagreen;
    color: var(--second);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }

  .ultimate-heading-mobile {
    width: 250px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--second);
    background-color: var(--third);
    border: 1px solid var(--medium-grey);
    border-top: none;
    border-bottom: none;
    border-left: none;
    border-right: none;
    border-top-left-radius: 10px;
    box-sizing: border-box;
  }

  .ultimate-price-mobile {
    width: 250px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--medium-grey);
    border-top: none;
    border-bottom: none;
    border-left: none;
    box-sizing: border-box;
    color: var(--first);
    font-size: 20px;
    color: var(--second);
    background-color: var(--third);
  }

  .ultimate-features-mobile ul {
    width: 250px;
    list-style: none;
    padding-left: 25px;
    padding-top: 40px;
    padding-bottom: 40px;
    line-height: 2.5;
    border: 1px solid var(--medium-grey);
    border-left: none;
    border-right: none;
    border-top: none;
    border-bottom: none;
    box-sizing: border-box;
    color: var(--second);
    background-color: var(--third);
  }

  .ultimate-read-more-mobile {
    width: 250px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: var(--third);
  }

  .ultimate-read-more-mobile button {
    width: 150px;
    height: 60px;
    background-color: var(--second);
    border: none;
    border-radius: 40px;
    color: var(--first);
    font-size: 15px;
    font-family: "Jost", sans-serif;
    transition: var(--transition);
  }

  .ultimate-read-more-mobile button:hover {
    width: 150px;
    height: 60px;
    background-color: var(--third);
    transition: var(--transition);
    border: none;
    border-radius: 40px;
    color: var(--second);
    font-size: 15px;
    font-family: "Jost", sans-serif;
    cursor: pointer;
  }
}

.advanced-table-mobile {
  display: none;
}

.advanced-heading {
  width: 225px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--third);
  border: 1px solid var(--medium-grey);
  border-top: none;
  border-bottom: none;
  border-left: none;
  box-sizing: border-box;
}

.advanced-price {
  width: 225px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--medium-grey);
  border-bottom: none;
  border-left: none;
  box-sizing: border-box;
  color: var(--first);
  font-size: 20px;
  background-color: var(--light-grey);
}

.advanced-features ul {
  width: 225px;
  list-style: none;
  padding-top: 40px;
  padding-bottom: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: var(--third);
  line-height: 2.5;
  border: 1px solid var(--medium-grey);
  border-left: none;
  box-sizing: border-box;
}

.advanced-read-more {
  width: 225px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--medium-grey);
  border-top: none;
  border-bottom: none;
  border-left: none;
  box-sizing: border-box;
}

.advanced-read-more button {
  width: 150px;
  height: 60px;
  background-color: var(--light-grey);
  border: none;
  border-radius: 40px;
  color: var(--first);
  font-size: 15px;
  font-family: "Jost", sans-serif;
  transition: var(--transition);
}

.advanced-read-more button:hover {
  width: 150px;
  height: 60px;
  background-color: var(--third);
  transition: var(--transition);
  border: none;
  border-radius: 40px;
  color: var(--second);
  font-size: 15px;
  font-family: "Jost", sans-serif;
  cursor: pointer;
}

@media (max-width: 600px) {
  .advanced-table-mobile {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .advanced-box-mobile {
    width: 250px;
    height: 533px;
    display: flex;
    border: 1px solid var(--medium-grey);
    border-radius: 10px;
    box-sizing: border-box;
  }

  .advanced-price-mobile {
    width: 250px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--medium-grey);
    border-bottom: none;
    border-left: none;
    box-sizing: border-box;
    color: var(--first);
    font-size: 20px;
    background-color: var(--light-grey);
  }

  .advanced-heading-mobile {
    width: 250px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--third);
    border: 1px solid var(--medium-grey);
    border-top: none;
    border-bottom: none;
    border-left: none;
    border-right: none;
    box-sizing: border-box;
  }

  .advanced-features-mobile ul {
    width: 250px;
    list-style: none;
    padding-left: 25px;
    padding-top: 40px;
    padding-bottom: 40px;
    line-height: 2.5;
    border: 1px solid var(--medium-grey);
    border-left: none;
    border-right: none;
    box-sizing: border-box;
    color: var(--third);
  }

  .advanced-read-more-mobile {
    width: 250px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
  }

  .advanced-read-more-mobile button {
    width: 150px;
    height: 60px;
    background-color: var(--light-grey);
    border: none;
    border-radius: 40px;
    color: var(--first);
    font-size: 15px;
    font-family: "Jost", sans-serif;
    transition: var(--transition);
  }

  .advanced-read-more-mobile button:hover {
    width: 150px;
    height: 60px;
    background-color: var(--third);
    transition: var(--transition);
    border: none;
    border-radius: 40px;
    color: var(--second);
    font-size: 15px;
    font-family: "Jost", sans-serif;
    cursor: pointer;
  }
}

.professional-table-mobile {
  display: none;
}

.professional-heading {
  width: 225px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--third);
  border: 1px solid var(--medium-grey);
  border-top: none;
  border-bottom: none;
  border-left: none;
  border-right: none;
  box-sizing: border-box;
}

.professional-price {
  width: 224px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--medium-grey);
  border-bottom: none;
  border-left: none;
  border-right: none;
  box-sizing: border-box;
  color: var(--first);
  font-size: 20px;
  background-color: var(--light-grey);
}

.professional-features ul {
  width: 225px;
  list-style: none;
  padding-top: 40px;
  padding-bottom: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: var(--primary);
  line-height: 2.5;
  border: 1px solid var(--medium-grey);
  border-left: none;
  border-right: none;
  box-sizing: border-box;
}

.professional-read-more {
  width: 225px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

.professional-read-more button {
  width: 150px;
  height: 60px;
  background-color: var(--light-grey);
  border: none;
  border-radius: 40px;
  color: black;
  font-size: 15px;
  font-family: "Jost", sans-serif;
  transition: var(--transition);
}

.professional-read-more button:hover {
  width: 150px;
  height: 60px;
  background-color: var(--third);
  transition: var(--transition);
  border: none;
  border-radius: 40px;
  color: var(--second);
  font-size: 15px;
  font-family: "Jost", sans-serif;
  cursor: pointer;
}

@media (max-width: 600px) {
  .professional-table-mobile {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .professional-box-mobile {
    width: 250px;
    height: 533px;
    display: flex;
    border: 1px solid var(--medium-grey);
    border-radius: 10px;
    box-sizing: border-box;
  }

  .professional-price-mobile {
    width: 250px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--medium-grey);
    border-bottom: none;
    border-left: none;
    box-sizing: border-box;
    color: var(--first);
    font-size: 20px;
    background-color: var(--light-grey);
  }

  .professional-heading-mobile {
    width: 250px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--third);
    border: 1px solid var(--medium-grey);
    border-top: none;
    border-bottom: none;
    border-left: none;
    border-right: none;
    box-sizing: border-box;
  }

  .professional-features-mobile ul {
    width: 250px;
    list-style: none;
    padding-left: 25px;
    padding-top: 40px;
    padding-bottom: 40px;
    line-height: 2.5;
    border: 1px solid var(--medium-grey);
    border-left: none;
    border-right: none;
    box-sizing: border-box;
    color: var(--third);
  }

  .professional-read-more-mobile {
    width: 250px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
  }

  .professional-read-more-mobile button {
    width: 150px;
    height: 60px;
    background-color: var(--light-grey);
    border: none;
    border-radius: 40px;
    color: var(--first);
    font-size: 15px;
    font-family: "Jost", sans-serif;
    transition: var(--transition);
  }

  .professional-read-more-mobile button:hover {
    width: 150px;
    height: 60px;
    background-color: var(--third);
    transition: var(--transition);
    border: none;
    border-radius: 40px;
    color: var(--second);
    font-size: 15px;
    font-family: "Jost", sans-serif;
    cursor: pointer;
  }
}

/* Company Logos */
.logos-box {
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
  background-color: var(--third);
}

.company-logo-1 {
  width: 115px;
}

.company-logo-2 {
  width: 100px;
}

.company-logo-3 {
  width: 117px;
}

.company-logo-4 {
  width: 120px;
}

.company-logo-5 {
  width: 90px;
}

@media (max-width: 600px) {
  .logos-section {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .logos-box {
    width: 100%;
    height: 1200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 100px;
    background-color: var(--third);
  }
}

/* Case Studies */
.case-studies-section {
  height: 800px;
  background-color: var(--light-grey);
}

.case-studies-header-desc {
  width: 80%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 180px;
  padding-left: 150px;
}

.case-studies-header {
  line-height: 4;
}

.case-studies-header p {
  text-align: left;
  color: var(--third);
}

.case-studies-header h1 {
  font-size: 30px;
  line-height: 1.2;
  text-align: left;
  color: var(--first);
}

.case-studies-desc {
  padding-top: 2%;
}

.br-desktop-hidden {
  display: none;
}

.case-studies {
  display: flex;
}

.case-studies-app-design {
  width: 550px;
  gap: 180px;
  padding-top: 30px;
  padding-left: 162px;
}

.case-studies-branding-design {
  width: 550px;
  gap: 180px;
  padding-top: 30px;
  padding-left: 47px;
}

.case-studies-app-design img {
  width: 550px;
}

.case-studies-branding-design img {
  width: 550px;
}

.app-design-header {
  width: 350px;
  height: 160px;
  line-height: 2.5;
  padding-left: 50px;
  background-color: var(--second);
  cursor: default;
}

.branding-design-header {
  width: 350px;
  height: 160px;
  line-height: 2.5;
  padding-left: 50px;
  background-color: var(--second);
  cursor: default;
}

.case-studies-app-design a {
  text-decoration: none;
}

.case-studies-branding-design a {
  text-decoration: none;
}

.app-design-header p {
  color: var(--third);
}

.branding-design-header p {
  color: var(--third);
}

.app-design-header h1 {
  color: var(--first);
  cursor: pointer;
}

.branding-design-header h1 {
  color: var(--first);
  cursor: pointer;
}

.app-design-header button {
  width: 150px;
  height: 60px;
  background-color: var(--light-grey);
  border: none;
  border-radius: 40px;
  color: var(--first);
  font-size: 15px;
  font-family: "Jost", sans-serif;
  transition: var(--transition);
}

.branding-design-header button {
  width: 150px;
  height: 60px;
  background-color: var(--light-grey);
  border: none;
  border-radius: 40px;
  color: var(--first);
  font-size: 15px;
  font-family: "Jost", sans-serif;
  transition: var(--transition);
}

.app-design-header button:hover {
  width: 150px;
  height: 60px;
  background-color: var(--third);
  transition: var(--transition);
  border: none;
  border-radius: 40px;
  color: var(--second);
  font-size: 15px;
  font-family: "Jost", sans-serif;
  cursor: pointer;
}

.branding-design-header button:hover {
  width: 150px;
  height: 60px;
  background-color: var(--third);
  transition: var(--transition);
  border: none;
  border-radius: 40px;
  color: var(--second);
  font-size: 15px;
  font-family: "Jost", sans-serif;
  cursor: pointer;
}

@media (max-width: 320px) {
  .case-studies-section {
    width: 100%;
  }

  .case-studies-header-desc {
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
  }

  .case-studies-header {
    width: 95%;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  .case-studies-header h1 {
    font-size: 21px;
    text-align: left;
    display: flex;
    justify-content: center;
    color: var(--first);
  }

  .case-studies-desc {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .case-studies-desc p {
    padding-top: 4%;
  }

  .br-mobile-shown {
    display: none;
  }

  .case-studies {
    width: 119%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .case-studies-app-design {
    width: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
    padding-left: 0;
  }

  .case-studies-branding-design {
    width: 450px;
    display: block;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
    padding-left: 0;
    padding-right: 0;
  }

  .case-studies-app-design img {
    width: 250px;
    display: block;
  }

  .case-studies-branding-design img {
    width: 250px;
    display: block;
  }

  .app-design-header {
    width: 450px;
    height: 160px;
    text-align: center;
    line-height: 2;
    padding-left: 0;
    padding-top: 20px;
    background-color: var(--second);
    cursor: default;
  }

  .branding-design-header {
    width: 450px;
    height: 160px;
    text-align: center;
    line-height: 2;
    padding-left: 0;
    padding-right: 0;
    padding-top: 20px;
    background-color: var(--second);
    cursor: default;
  }

  .case-studies-app-design a {
    text-decoration: none;
  }

  .case-studies-branding-design a {
    text-decoration: none;
  }

  .app-design-header p {
    width: 70%;
    color: var(--third);
    text-align: left;
  }

  .branding-design-header p {
    width: 70%;
    color: var(--third);
    text-align: left;
  }

  .app-design-header h1 {
    font-size: 17px;
    text-align: left;
    color: var(--first);
    cursor: pointer;
  }

  .branding-design-header h1 {
    font-size: 17px;
    text-align: left;
    color: var(--first);
    cursor: pointer;
  }

  .app-design-header button {
    width: 150px;
    height: 60px;
    background-color: var(--light-grey);
    border: none;
    border-radius: 40px;
    color: var(--first);
    font-size: 15px;
    font-family: "Jost", sans-serif;
    transition: var(--transition);
  }

  .branding-design-header button {
    width: 150px;
    height: 60px;
    background-color: var(--light-grey);
    border: none;
    border-radius: 40px;
    color: var(--first);
    font-size: 15px;
    font-family: "Jost", sans-serif;
    transition: var(--transition);
  }

  .app-design-header button:hover {
    width: 150px;
    height: 60px;
    background-color: var(--third);
    transition: var(--transition);
    border: none;
    border-radius: 40px;
    color: var(--second);
    font-size: 15px;
    font-family: "Jost", sans-serif;
    cursor: pointer;
  }

  .branding-design-header button:hover {
    width: 150px;
    height: 60px;
    background-color: var(--third);
    transition: var(--transition);
    border: none;
    border-radius: 40px;
    color: var(--second);
    font-size: 15px;
    font-family: "Jost", sans-serif;
    cursor: pointer;
  }
}

@media (max-width: 600px) {
  .case-studies-header-desc {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: justify;
    gap: 0;
    padding-left: 0;
  }

  .case-studies-header {
    width: 95%;
  }

  .case-studies-header h1 {
    font-size: 21px;
    text-align: left;
    color: var(--first);
  }

  .case-studies-desc {
    width: 95%;
    padding-top: 4%;
  }

  .br-mobile-shown {
    display: none;
  }

  .case-studies {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .case-studies-app-design {
    width: 320px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
    padding-left: 0;
  }

  .case-studies-branding-design {
    width: 320px;
    display: block;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
    padding-left: 0;
    padding-right: 0;
  }

  .case-studies-app-design img {
    width: 320px;
    display: block;
  }

  .case-studies-branding-design img {
    width: 320px;
    display: block;
  }

  .app-design-header {
    width: 320px;
    height: 160px;
    text-align: center;
    line-height: 2;
    padding-left: 0;
    padding-top: 20px;
    background-color: var(--second);
    cursor: default;
  }

  .branding-design-header {
    width: 320px;
    height: 160px;
    text-align: center;
    line-height: 2;
    padding-left: 0;
    padding-right: 0;
    padding-top: 20px;
    background-color: var(--second);
    cursor: default;
  }

  .case-studies-app-design a {
    text-decoration: none;
  }

  .case-studies-branding-design a {
    text-decoration: none;
  }

  .app-design-header p {
    width: 70%;
    color: var(--third);
    text-align: left;
  }

  .branding-design-header p {
    width: 70%;
    color: var(--third);
    text-align: left;
  }

  .app-design-header h1 {
    font-size: 17px;
    text-align: left;
    color: var(--first);
    cursor: pointer;
  }

  .branding-design-header h1 {
    font-size: 17px;
    text-align: left;
    color: var(--first);
    cursor: pointer;
  }

  .app-design-header button {
    width: 150px;
    height: 60px;
    background-color: var(--light-grey);
    border: none;
    border-radius: 40px;
    color: var(--first);
    font-size: 15px;
    font-family: "Jost", sans-serif;
    transition: var(--transition);
  }

  .branding-design-header button {
    width: 150px;
    height: 60px;
    background-color: var(--light-grey);
    border: none;
    border-radius: 40px;
    color: var(--first);
    font-size: 15px;
    font-family: "Jost", sans-serif;
    transition: var(--transition);
  }

  .app-design-header button:hover {
    width: 150px;
    height: 60px;
    background-color: var(--third);
    transition: var(--transition);
    border: none;
    border-radius: 40px;
    color: var(--second);
    font-size: 15px;
    font-family: "Jost", sans-serif;
    cursor: pointer;
  }

  .branding-design-header button:hover {
    width: 150px;
    height: 60px;
    background-color: var(--third);
    transition: var(--transition);
    border: none;
    border-radius: 40px;
    color: var(--second);
    font-size: 15px;
    font-family: "Jost", sans-serif;
    cursor: pointer;
  }
}

/* Testimonials Section */
.testimonials-section {
  background-color: var(--light-grey);
}

.quote {
  display: flex;
  justify-content: center;
}

.quote img {
  width: 100px;
  color: var(--third);
}

.testimonials-message {
  display: flex;
  justify-content: center;
}

.testimonials-message p {
  width: 70%;
  font-size: 35px;
  line-height: 1.5;
  color: var(--dark-grey);
  text-align: center;
}

.testimonials-person {
  display: flex;
  justify-content: center;
  flex-direction: column;
  line-height: 1.5;
}

.testimonials-person h1 {
  font-size: 35px;
  text-align: center;
}

.testimonials-person span {
  font-size: 20px;
  color: var(--third);
  text-align: center;
}

@media (max-width: 320px) {
  .testimonials-section {
    width: 380px;
    background-color: var(--light-grey);
    padding-top: 100%;
  }

  .quote {
    display: flex;
    justify-content: center;
  }

  .quote img {
    width: 30px;
    color: var(--third);
  }

  .br-desktop {
    display: none;
  }

  .br-mobile {
    display: block;
  }

  .testimonials-message p {
    width: 70%;
    font-size: 15px;
    line-height: 1.5;
    color: var(--dark-grey);
    text-align: center;
  }

  .testimonials-person {
    display: flex;
    justify-content: center;
    flex-direction: column;
    line-height: 2;
  }

  .testimonials-person h1 {
    font-size: 20px;
    text-align: center;
  }

  .testimonials-person span {
    font-size: 15px;
    color: var(--third);
    text-align: center;
  }
}

@media (max-width: 600px) {
  .testimonials-section {
    background-color: var(--light-grey);
    padding-top: 100%;
  }

  .quote {
    display: flex;
    justify-content: center;
  }

  .quote img {
    width: 30px;
    color: var(--third);
  }

  .br-desktop {
    display: none;
  }

  .br-mobile {
    display: block;
  }

  .testimonials-message p {
    width: 70%;
    font-size: 15px;
    line-height: 1.5;
    color: var(--dark-grey);
    text-align: center;
  }

  .testimonials-person {
    display: flex;
    justify-content: center;
    flex-direction: column;
    line-height: 2;
  }

  .testimonials-person h1 {
    font-size: 20px;
    text-align: center;
  }

  .testimonials-person span {
    font-size: 15px;
    color: var(--third);
    text-align: center;
  }
}

/* News Section*/
.news-header {
  line-height: 4;
}

.news-header p {
  text-align: center;
  color: var(--third);
}

.news-header h1 {
  font-size: 30px;
  line-height: 1.2;
  text-align: center;
  color: var(--first);
}

.news-columns {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.news-column-1 img {
  width: 350px;
  display: flex;
  flex-direction: column;
}

.news-column-1 a {
  color: var(--dark-grey);
  text-decoration: none;
  padding-top: 20px;
  transition: var(--transition);
}

.news-column-1 a:hover {
  color: var(--third);
  text-decoration: none;
  transition: var(--transition);
}

.news-column-1 li {
  padding-top: 20px;
}

.news-column-1 li::after {
  content: "-";
  color: var(--third);
  display: inline-block;
  font-weight: normal;
  margin-left: 5px;
  position: relative;
  font-weight: 800;
}

.news-column-1 p {
  width: 300px;
  font-size: 25px;
  line-height: 1.2;
  padding-top: 15px;
  padding-bottom: 15px;
  transition: var(--transition);
}

.news-column-1 p:hover {
  width: 300px;
  font-size: 25px;
  color: var(--third);
  transition: var(--transition);
  cursor: pointer;
  line-height: 1.2;
  padding-top: 15px;
  padding-bottom: 15px;
}

.news-column-1 button {
  width: 150px;
  height: 60px;
  background-color: var(--light-grey);
  border: none;
  border-radius: 40px;
  color: var(--first);
  font-size: 15px;
  font-family: "Jost", sans-serif;
  transition: var(--transition);
}

.news-column-1 button:hover {
  width: 150px;
  height: 60px;
  background-color: var(--third);
  border: none;
  border-radius: 40px;
  color: var(--second);
  font-size: 15px;
  font-family: "Jost", sans-serif;
  transition: var(--transition);
  cursor: pointer;
}

.news-column-2 img {
  width: 350px;
  display: flex;
  flex-direction: column;
}

.news-column-2 a {
  color: var(--dark-grey);
  text-decoration: none;
  padding-top: 20px;
  transition: var(--transition);
}

.news-column-2 a:hover {
  color: var(--third);
  text-decoration: none;
  transition: var(--transition);
}

.news-column-2 li {
  padding-top: 20px;
}

.news-column-2 li::after {
  content: "-";
  color: var(--third);
  display: inline-block;
  font-weight: normal;
  margin-left: 5px;
  position: relative;
  font-weight: 800;
}

.news-column-2 p {
  width: 340px;
  font-size: 25px;
  line-height: 1.2;
  padding-top: 15px;
  padding-bottom: 15px;
  transition: var(--transition);
}

.news-column-2 p:hover {
  width: 340px;
  font-size: 25px;
  color: var(--third);
  transition: var(--transition);
  cursor: pointer;
  line-height: 1.2;
  padding-top: 15px;
  padding-bottom: 15px;
}

.news-column-2 button {
  width: 150px;
  height: 60px;
  background-color: var(--light-grey);
  border: none;
  border-radius: 40px;
  color: var(--first);
  font-size: 15px;
  font-family: "Jost", sans-serif;
  transition: var(--transition);
}

.news-column-2 button:hover {
  width: 150px;
  height: 60px;
  background-color: var(--third);
  border: none;
  border-radius: 40px;
  color: var(--second);
  font-size: 15px;
  font-family: "Jost", sans-serif;
  transition: var(--transition);
  cursor: pointer;
}

.news-column-3 img {
  width: 350px;
  display: flex;
  flex-direction: column;
}

.news-column-3 a {
  color: var(--dark-grey);
  text-decoration: none;
  padding-top: 20px;
  transition: var(--transition);
}

.news-column-3 a:hover {
  color: var(--third);
  text-decoration: none;
  transition: var(--transition);
}

.news-column-3 li {
  padding-top: 20px;
}

.news-column-3 li::after {
  content: "-";
  color: var(--third);
  display: inline-block;
  font-weight: normal;
  margin-left: 5px;
  position: relative;
  font-weight: 800;
}

.news-column-3 p {
  width: 300px;
  font-size: 25px;
  line-height: 1.2;
  padding-top: 15px;
  padding-bottom: 15px;
  transition: var(--transition);
}

.news-column-3 p:hover {
  width: 300px;
  font-size: 25px;
  color: var(--third);
  transition: var(--transition);
  cursor: pointer;
  line-height: 1.2;
  padding-top: 15px;
  padding-bottom: 15px;
}

.news-column-3 button {
  width: 150px;
  height: 60px;
  background-color: var(--light-grey);
  border: none;
  border-radius: 40px;
  color: var(--first);
  font-size: 15px;
  font-family: "Jost", sans-serif;
  transition: var(--transition);
}

.news-column-3 button:hover {
  width: 150px;
  height: 60px;
  background-color: var(--third);
  border: none;
  border-radius: 40px;
  color: var(--second);
  font-size: 15px;
  font-family: "Jost", sans-serif;
  transition: var(--transition);
  cursor: pointer;
}

@media (max-width: 320px) {
  .news-columns {
    width: 380px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
  }

  .news-header p {
    width: 380px;
  }

  .news-header h1 {
    width: 380px;
    font-size: 20px;
    line-height: 1.2;
    text-align: center;
    color: var(--first);
  }
} /*Mobile Responsiveness*/

@media (max-width: 600px) {
  .news-columns {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
  }

  .news-header h1 {
    font-size: 20px;
    line-height: 1.2;
    text-align: center;
    color: var(--first);
  }
} /*Mobile Responsiveness*/

/* Join Community Section */
.join-community {
  height: 300px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: var(--light-footer);
  color: var(--second);
}

.join-community h1 {
  width: 450px;
  font-size: 55px;
  line-height: 1.3;
}

.join-community div {
  display: flex;
  padding-top: 70px;
  border-bottom: 0.1px solid;
  border-color: var(--dark-grey);
}

.join-community input {
  width: 450px;
  height: 50px;
  background-color: var(--light-footer);
  font-size: 25px;
  color: var(--second);
  outline: none;
  border: none;
}

.join-community input::placeholder {
  color: var(--second);
}

.join-community img {
  height: 50px;
}

@media (max-width: 320px) {
  .join-community {
    width: 380px;
    height: 250px;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: var(--light-footer);
    color: var(--second);
  }

  .join-community h1 {
    width: 300px;
    font-size: 20px;
    text-align: center;
    line-height: 1.3;
  }

  .join-community div {
    width: 345px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 0;
    border-bottom: 0.1px solid;
    border-color: var(--dark-grey);
  }

  .join-community input {
    width: 200px;
    background-color: var(--light-footer);
    font-size: 20px;
    color: var(--second);
    outline: none;
    border: none;
  }
} /*Mobile Responsiveness*/

@media (max-width: 600px) {
  .join-community {
    height: 250px;
    display: flex;
    align-items: center;
    flex-direction: column;
    font-size: 35px;
    background-color: var(--light-footer);
    color: var(--second);
  }

  .join-community h1 {
    width: 360px;
    font-size: 25px;
    text-align: center;
    line-height: 1.3;
  }

  .join-community div {
    display: flex;
    padding-top: 0;
    border-bottom: 0.1px solid;
    border-color: var(--dark-grey);
  }

  .join-community input {
    width: 300px;
    background-color: var(--light-footer);
    font-size: 20px;
    color: var(--second);
    outline: none;
    border: none;
  }
} /*Mobile Responsiveness*/

/* Footer */
.footer-columns {
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  background-color: var(--medium-footer);
}

.logo-image {
  width: 80px;
  padding-bottom: 10px;
}

.footer-heading {
  list-style: none;
  color: var(--second);
}

.footer-column-1 p {
  width: 270px;
  padding-bottom: 30px;
  color: var(--medium-grey);
}

.contact-us {
  width: 250px;
  gap: 20px;
  display: flex;
}

.contact-us img {
  width: 50px;
  height: 50px;
}

.contact-us a {
  text-decoration: none;
  color: var(--light-grey);
}

.footer-column-2 ul,
.footer-column-3 ul,
.footer-column-4 ul {
  list-style: none;
  line-height: 3;
}

.footer-links-li a {
  text-decoration: none;
  color: var(--medium-grey);
  transition: var(--transition);
}

.footer-links-li a:hover {
  text-decoration: none;
  color: var(--third);
  transition: var(--transition);
}

.phone-li {
  width: 170px;
  color: var(--medium-grey);
}

.phone-li a {
  text-decoration: none;
  color: var(--medium-grey);
  transition: var(--transition);
}

.phone-li a:hover {
  width: 170px;
  color: var(--third);
  text-decoration: none;
  transition: var(--transition);
}

.email-li {
  color: var(--medium-grey);
}

.location-li {
  color: var(--medium-grey);
}

.footer-heading-instagram {
  padding-bottom: 20px;
  list-style: none;
  color: var(--second);
}

.image-row-1 {
  display: flex;
  gap: 20px;
  padding-bottom: 20px;
}

.image-row-1 img,
.image-row-2 img {
  width: 80px;
  transition: 0.3s ease;
}

.image-row-2 {
  display: flex;
  gap: 20px;
}

.mobile-columns {
  display: flex;
  gap: 50px;
}

.footer-bottom {
  width: 100%;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--medium-footer);
}

.copyright-section {
  width: 1200px;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: var(--dark-footer);
}

.social-links-footer {
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  padding-bottom: 10px;
  list-style: none;
}

.social-logo-footer {
  width: 30px;
}

.copyright {
  color: var(--medium-grey);
}

.copyright span {
  color: var(--second);
}

@media (max-width: 600px) {
  .footer-columns {
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--medium-footer);
    padding-top: 20px;
  }

  .mobile-columns {
    display: flex;
    gap: 50px;
  }

  .footer-column-4 {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .image-row-1 {
    display: flex;
    gap: 20px;
    padding-bottom: 10px;
  }

  .image-row-2 {
    display: flex;
    gap: 20px;
    padding-bottom: 10px;
  }

  .image-row-1 img,
  .image-row-2 img {
    width: 100px;
    transition: 0.3s ease;
  }

  .footer-bottom {
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--medium-footer);
  }
}
