:root {
  --first: #0f1016;
  --second: #fff;
  --third: #143264;
  --fourth: #fd5516;
  --dark-grey: #666666;
  --medium-grey: #e6e0e0;
  --light-grey: #fafafa;
  --dark-footer: #1d152c;
  --medium-footer: #291f3b;
  --light-footer: #2a2238;
  --title-family: "Manrope", sans-serif;
  --outline-text: "Poppins", sans-serif;
  --common-family: "Jost", sans-serif;
  --transition: all 0.3s linear;
}

body {
  padding-top: 110px; /* Reserve space for sticky navbars */
}

.navbar {
  background-color: var(--third);
}

/* Dark nav links */
.nav-link-dark {
  color: #333 !important;
  font-weight: 500;
  font-size: 16px;
  border-radius: 10px;
}

/* Hover effect for cleaner UI */
.nav-link-dark:hover {
  color: var(--second) !important;
  background-color: var(--third);
  border-radius: 10px;
}

/* X-Small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
  .ugrow-o {
    margin-left: -0.1rem;
  }

  .student {
    margin-top: -200px; /* Adjust this value as needed */
  }

  .social-bar {
    display: none;
  }
}

/*Small devices (landscape phones, less than 768px)*/
@media (max-width: 770.98px) {
  .student {
    display: block; /* Adjust this value as needed */
    height: 270px;
    margin-left: 15px;
  }

  .social-bar {
    display: none;
  }
}

/* Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {
  .ugrow-o {
    margin-left: -0.2rem;
  }

  .student {
    width: 300px;
    margin-top: -100px; /* Adjust this value as needed */
  }
}

/* Large devices (desktops, less than 1200px)*/
@media (max-width: 1199.98px) {
}

/* X-Large devices (large desktops, less than 1400px) */
@media (max-width: 1399.98px) {
}
